<!doctype html>
<html lang="en" class="[scrollbar-gutter:auto] min-h-[100dvh]">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>Unnamed Project</title>
    <link rel="stylesheet" href="/global.css" />
    <script defer type="text/javascript" src="/app.js"></script>
  </head>
  <body
    class="min-h-[100dvh] bg-white text-black dark:bg-[#0f0f0f] dark:text-white"
  >
    <div id="app"></div>
  </body>
</html>
